@use 'variables' as *;

body {
  font-family: 'HarmonyOS Sans', sans-serif;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.hero-body {
  padding: 0;
}

// Global spin animation
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
